<%= render "layouts/logo" %>
<div id="back" class="emphasis"><%= link_to "Back to Campaign", campaign_path(@campaign) %></div>
<h2><%= @dmaster.name %></h2>
  <div><button class="makeButton"><%= link_to "Edit DM", edit_campaign_dmaster_path( @campaign, @dmaster ) %></button></div>
