<h1>Campaigns <%= link_to "(+)", new_campaign_path %></h1>

  <% @campaigns.each do |campaign| %>
    <div class="emphasis" id="campaignName"><%= link_to campaign.name, campaign %></div>
    <div><%= campaign.summary %></div>
    </br>
  <% end %>
