/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   line-height: 150%;
 }

 body {
   background-color: #9d0a0e;
 }

 #appBox {
   background-color: #e7e7db;
   margin: 1em auto;
   padding: 2em;
   padding-bottom: 3em;
   padding-top: none;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
 }

 .carousel-control.right {
   background-image: none;
 }

 .carousel-control.left {
   background-image: none;
 }
/*
 .jumbotron {
   background-image: url("http://media.wizards.com/2015/images/dnd/resources/Sword-Coast-Map_LowRes.jpg");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }*/

 .dndr {
   text-align: center;
   font-size: 4em;
   color: #d50000;
 }

 #amp {
   color: #333333;
 }

 #campaigns {
  display: flex;
 	flex-wrap: wrap;
 }

#campItem {
  flex: 1 0 200px;
  box-sizing: border-box;
  padding: 10px;
}

 h1, h2, h3 {
   font-family: "Lobster", "Helvetica", sans-serif;
 }

 #back {
   text-align: center;
   font-size: 1.25em;
 }

 #campaignName {
   font-size: 1.5em;
 }

#title {
  text-align: center;
  font-size: 2.5em;
  color: #333;
}

div#title.carousel-caption {
  background-color: #e7e7db;
  border-radius: 5px;
  padding: 0px;
  bottom: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

 .emphasis {
   font-weight: bold;
 }

 input[type=text] {
   padding:5px;
   border:2px solid #bbb;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-bottom: 1em;
 }

 input[type=text]:focus {
   border-color:#333;
 }

 select {
   border:2px solid #bbb;
   margin-bottom: 1em;
 }

 select:focus {
   border-color:#333;
 }

 textarea {
   padding:5px;
   border:2px solid #bbb;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-bottom: 1em;
 }

 textarea:focus {
   border-color:#333;
 }

 input[type=submit] {
     margin-top: 10px;
     padding:5px 15px;
     background:#ccc;
     border:0 none;
     cursor:pointer;
     -webkit-border-radius: 5px;
     border-radius: 5px;
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
 }

 button {
   margin-top: 10px;
   padding:5px 15px;
   background:#ccc;
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px;
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
 }

 button > a {
   color: #333;
 }

 a:hover {
   text-decoration: none;
 }

 button > a:hover {
    color: #333;
 }

 img {
   max-width: 30em;
   max-height: 30em;
   margin-bottom: 10px;
   border-radius: 10px;
 }

#map {
  display: block;
  margin: 1em auto;
}

 .float {
    float: right;
    padding-left: 3em;
    padding-right: 3em;
 }

 .adventure {
   margin: 1em auto;
   text-align: center;
   display: block;
 }

 @media (max-width: 480px) {
   img {
     max-width: 15em;
   }
   #charName {
     text-align: center;
   }

   /*a.btn.btn-md.btn-primary {
     font-size: 5px;
     display: none;
     max-width: 5px;
   }*/
 }
